/*body {
	font-family: 'Helvetica';
	margin : 0px;
}

/* ########################## HEADER ##########################  */

/*.navigation {
	display: flex;
	background-color: #f1c40f;
	height: 50px;
	border: 2px solid black;
	border-left: none;
	border-right: none;
}

.linkCDI {
	flex-grow: 25;
	text-align:  center;
	align-self: center;
	font-weight: bold;
}

a:hover {
	color : orange;
}

.linkCDI a:visited, .linkCDI a:link {
	text-decoration: none;
	color:#2c3e50;
}

.titleTDF {
	font-size: 3em;
	height: 18vh;
	color: #2c3e50;
	font-weight: bold;
	display: flex;
	justify-content: center;
}

header div {
	align-self: center;
}
*/
/*  ########################## CONTAINERS ########################## */

/*.container {
	margin: 30px;
	padding : 15px;
	border : 1px solid black;
	background-color: #ecf0f1;
}*/

/*  ########################## FOOTER ########################## */

/*footer {
	margin: 30px;
	text-align: center;
}*/

nav > a:visited {
	text-decoration: none;
	color : white;
}

.spacerRight-Left {
	padding-left: 8px;
	padding-right: 8px;
}

/*.well {
	background-color: grey;
	border-radius: 10px;
}*/

.container {
	margin-top: 30px;
}
